<!--
 ! Licensed to the Apache Software Foundation (ASF) under one
 ! or more contributor license agreements.  See the NOTICE file
 ! distributed with this work for additional information
 ! regarding copyright ownership.  The ASF licenses this file
 ! to you under the Apache License, Version 2.0 (the
 ! "License"); you may not use this file except in compliance
 ! with the License.  You may obtain a copy of the License at
 !
 !   http://www.apache.org/licenses/LICENSE-2.0
 !
 ! Unless required by applicable law or agreed to in writing,
 ! software distributed under the License is distributed on an
 ! "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ! KIND, either express or implied.  See the License for the
 ! specific language governing permissions and limitations
 ! under the License.
 !-->
<h2 *ngIf="globals.selectedDataset">
Dataset: <span style="color:red">{{globals.selectedDataset}}</span>
</h2>

<h1 *ngIf="!data && globals.selectedDataset">
	Loading...
</h1>

<h1 *ngIf="!globals.selectedDataverse" class="alert-msg">
	Please select dataverse
</h1>

<h1 *ngIf="!globals.selectedDataset" class="alert-msg">
	Please select dataset
</h1>

<!-- column filter -->
<div *ngIf="cols.length > 0">
	<span style="font-weight:bold">Column filter :</span><br>
	<span *ngFor="let col of cols; let i=index" >
		<span style="white-space: nowrap;">
			[<p-checkbox name="columnfilter" value="{{col}}" label="{{col}}" [(ngModel)]="selectedColumns"></p-checkbox>]	
			<br *ngIf="(i+1)%5 == 0">
		</span>
	</span>
</div>

<div style="height:10px;"></div>

<!-- pagination -->
<div class="pagination">
	<div class="page-label" *ngIf="chunkNum > 1" (click)="getPrevChunk()">
		<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
	</div>
	<div class="page" *ngFor="let page of pages" (click)="getPageData(page)">{{page}}</div>
	<div class="page-label" (click)="getNextChunk()" *ngIf="data">
		<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
	</div>
	<div class="page-label" *ngIf="isLoading">
		<i class="fa fa-spinner fa-pulse fa-1x fa-fw" aria-hidden="true"></i>
	</div>
</div>
<div style="height:10px; clear:both"></div>

<!-- table -->
<div id="browse-container">
	<table>
		<tr>
			<th *ngFor="let col of selectedColumns" (click)="expandAll(col)">
				{{ col }}
			</th>
		</tr>
		<tr *ngIf="data && data.length == 0">
			<td colspan="100">Empty</td>
		</tr>
		<template ngFor let-d [ngForOf]="data" let-r="index" >
			<tr class="row">
				<td *ngFor="let k of selectedColumns; let c=index" (click)="expandCell(r,c)">
					<!-- nested data-->
					<span *ngIf="d[k] | isObject">
						<b>Nested Data</b>
					</span>
					<!-- array of nested data-->
					<span *ngIf="d[k] | isObjectArray">
						[
							<span *ngFor="let item of d[k]; let i = index">
								<span *ngIf="i > 0">,</span>
								<b>Nested Data</b>
							</span>
						]
					</span>
					<!-- plain data -->
					<span *ngIf="!(d[k] | isObject) && !(d[k] | isObjectArray)">
						{{ d[k] }}
					</span>
				</td>
			</tr>
			<tr *ngIf="expansions[r]"> 
				<td [attr.colspan]="100" (click)="expandCell(r,c,true)">
					<pre [innerHTML]=" expansions[r] | prettyjson:3"></pre>
				</td>
			</tr>
		</template>
	</table>
</div>
