<!--
 ! Licensed to the Apache Software Foundation (ASF) under one
 ! or more contributor license agreements.  See the NOTICE file
 ! distributed with this work for additional information
 ! regarding copyright ownership.  The ASF licenses this file
 ! to you under the Apache License, Version 2.0 (the
 ! "License"); you may not use this file except in compliance
 ! with the License.  You may obtain a copy of the License at
 !
 !   http://www.apache.org/licenses/LICENSE-2.0
 !
 ! Unless required by applicable law or agreed to in writing,
 ! software distributed under the License is distributed on an
 ! "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ! KIND, either express or implied.  See the License for the
 ! specific language governing permissions and limitations
 ! under the License.
 !-->

<p-panel>
	<p-header>
		<div class="ui-helper-clearfix">
			<span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Datatype View</span>
		</div>
	</p-header>

	<h1 *ngIf="!data && globals.selectedDataset">
		Loading...
	</h1>

	<h1 *ngIf="!globals.selectedDataverse" class="alert-msg">
		Please select dataverse
	</h1>

	<h1 *ngIf="!globals.selectedDataset" class="alert-msg">
		Please select dataset
	</h1>

	<h2 *ngIf="data" >
		{{datatype}} 
		(
		<span *ngIf="isOpen" style="color:red">Open </span>
		<span *ngIf="!isOpen" style="color:red">Closed </span>
		Type
		)
	</h2>

	<table>
		<tr>
			<th *ngFor="let col of cols">
				{{ col}}
			</th>
		</tr>
		<template ngFor let-d [ngForOf]="data" let-r="index" >
			<tr class="row">
				<td *ngFor="let k of cols; let c=index" (click)="selectNestedType(d[k])">
					{{ d[k] }}
				</td>
			</tr>
		</template>
	</table>

	<div *ngFor="let ndata of nestedData; let i = index" >
		<!-- if selectedDatatype string contain nestedDatatypeInSpecialCase[i]["DatatypeName"] -->
		<div *ngIf='selectedNestedDatatype.indexOf(nestedDatatypeInSpecialCase[i]["DatatypeName"]) != -1'>
			<h3>{{selectedNestedDatatype}}</h3>
			<table>
				<tr>
					<th *ngFor="let col of cols">
						{{ col }}
					</th>
				</tr>
				<template ngFor let-d [ngForOf]="ndata" let-r="index" >
					<tr class="row">
						<td *ngFor="let k of cols; let c=index">
							{{ d[k] }}
						</td>
					</tr>
				</template>
			</table>
		</div>
	</div>

</p-panel>
