<!--
 ! Licensed to the Apache Software Foundation (ASF) under one
 ! or more contributor license agreements.  See the NOTICE file
 ! distributed with this work for additional information
 ! regarding copyright ownership.  The ASF licenses this file
 ! to you under the Apache License, Version 2.0 (the
 ! "License"); you may not use this file except in compliance
 ! with the License.  You may obtain a copy of the License at
 !
 !   http://www.apache.org/licenses/LICENSE-2.0
 !
 ! Unless required by applicable law or agreed to in writing,
 ! software distributed under the License is distributed on an
 ! "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ! KIND, either express or implied.  See the License for the
 ! specific language governing permissions and limitations
 ! under the License.
 !-->
<p-panel>
	<p-header>
		<div class="ui-helper-clearfix" style="display:inline; text-align: center;">
			<span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px; width:33%; text-align:left;">Query</span>
			<span id="sendQuery"><button pButton type="button" label="Send Query" (click)="sendQuery()"></button></span>
			<span id="queryHistory">
				<button type="button" class="qh-button" (click)="getPrevHistory()"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
				{{qhCursor + 1}}/{{queryHistory.length}}
				<button type="button" class="qh-button" (click)="getNextHistory()"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
				<button pButton type="button" class="ui-button-info" label="Clear History" (click)="clearHistory()"></button>
			</span>
		</div>
	</p-header>

	<codemirror [(ngModel)]="query"
		[config]="config">
	</codemirror>

	<div style="clear:both;"></div>
</p-panel>

<div style="height:10px;"></div>

<div style="height:10px;"></div>

<!-- Query Result-->
<!-- TODO: remove redundancy with browse.componen.html -->
<p-panel *ngIf="data && data.length > 0">
	<p-header>
		<div class="ui-helper-clearfix">
			<span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Query Result</span>
			<p-selectButton [style]="{'float':'right'}" [options]="types" [(ngModel)]="selectedType"></p-selectButton>
		</div>
	</p-header>

	<!-- Query Status -->
	<div *ngIf="status" id="query-status" >

		<div *ngIf='status == "success"' id="qs-success">
			Status: <span class="qs-txt">{{status}}</span>
		</div>
		<div *ngIf='status != "success"' id="qs-fail">
			Status: <span class="qs-txt">{{status}}</span>
		</div>


		<div *ngIf="errors.length > 0" id="qs-error" >
			Error Message : <span class="qs-txt" *ngFor="let msg of errors">{{ msg }}</span>
		</div>

		<div *ngIf="execution_time" id="qs-time">
			Execution Time : <span class="qs-txt">{{ execution_time }}</span>
		</div>

		<div *ngIf="data.length" id="qs-count">
			Result Count: <span class="qs-txt">{{data.length}}</span>
		</div>
	</div>
	<!-- Query Status End -->


	<!-- Table Type -->
	<div *ngIf="selectedType == 'Table'" id="browse-container">
	
		<!-- column filter -->
		<div *ngIf="cols && cols.length > 0">
			<span style="font-weight:bold">Column filter :</span><br>
			<span *ngFor="let col of cols; let i=index" >
				<span style="white-space: nowrap;">
					[<p-checkbox name="columnfilter" value="{{col}}" label="{{col}}" [(ngModel)]="selectedColumns"></p-checkbox>]	
				</span>
			</span>
		</div>

		<div style="height:10px;"></div>

		<!-- table; query result -->
		<!--<div id="browse-container">-->
			<table>
				<tr>
					<td id="page-td" colspan="100">
						<!-- pagination -->
						<div class="pagination">
							<div class="page" *ngFor="let page of pages" (click)="getPageData(page)">{{page}}</div>
							<div class="page-label" *ngIf="isLoading">
								<i class="fa fa-spinner fa-pulse fa-1x fa-fw" aria-hidden="true"></i>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<th *ngFor="let col of selectedColumns" (click)="expandAll(col)">
						{{ col }}
					</th>
				</tr>
				<tr *ngIf="data && data.length == 0">
					<td colspan="100">Empty</td>
				</tr>
				<template ngFor let-d [ngForOf]="data" let-r="index" >
					<tr class="row">
						<td *ngFor="let k of selectedColumns; let c=index" (click)="expandCell(r,c)" class="align-center">
							<!-- nested data-->
							<span *ngIf="d[k] | isObject">
								<b>{{"{"}} + {{"}"}}</b>
							</span>
							<!-- array of nested data-->
							<span *ngIf="d[k] && (globals.specialCasePairs | keys).includes(k)">
								<span *ngIf="globals.specialCasePairs[k] == 'UNORDEREDLIST'">
									<b *ngIf="d[k][0] | isObject">{{"{"}}{{"{"}} + {{"}"}}{{"}"}}</b>
									<b *ngIf="!(d[k][0] | isObject)">{{"{"}}{{"{"}} {{d[k]}} {{"}"}}{{"}"}}</b>
								</span>
								<span *ngIf="globals.specialCasePairs[k] == 'ORDEREDLIST'">
									<b *ngIf="d[k][0] | isObject">[ + ]</b>
									<b *ngIf="!(d[k][0] | isObject)">[ {{d[k]}} ]</b>
								</span>
							</span>
							<!-- plain data -->
							<span *ngIf="!(d[k] | isObject) && !(globals.specialCasePairs | keys).includes(k)">
								{{ d[k] }}
							</span>
						</td>
					</tr>
					<tr *ngIf="expansions[r]"> 
						<td [attr.colspan]="100" (click)="expandCell(r,c,true)">
							<pre [innerHTML]=" expansions[r] | prettyjson:3"></pre>
						</td>
					</tr>
				</template>
			</table>
		<!--</div>-->
	</div>
	<!-- Table Type End -->

	<!-- JSON Type -->
	<div *ngIf="selectedType == 'JSON'" id="browse-container">
		<table>
			<tr *ngFor="let d of data" >
				<td>
					<pre [innerHTML]="d | prettyjson:3"></pre>
				</td>
			</tr>
		</table>
	</div>
	<!-- JSON Type End -->

	<!-- Tree Type -->
	<div *ngIf="selectedType == 'Tree'" id="browse-container">
		<table *ngFor="let d of data" style="margin: 20px 0;">
			<tr *ngFor="let col of cols">
				<th class="tree-th">
					{{ col }}
				</th>
				<!-- nested data -->
				<td *ngIf="d[col] | isObject" class="tree-td">
					<table>
						<tr *ngFor="let n_col of (d[col] | keys)"> 
							<th>
								{{ n_col }}
							</th>
							<td>
								{{d[col][n_col]}}
							</td>
						</tr>
					</table>
				</td>
				<!-- nested array-->
				<td *ngIf="d[col] | isObjectArray" class="tree-td">
					<table *ngFor="let i of d[col] | keys" style="margin: 20px 0;" >
						<tr *ngFor="let n_col of (d[col][i] | keys)"> 
							<th>
								{{ n_col }}
							</th>
							<td>
								{{d[col][i][n_col]}}
							</td>
						</tr>
					</table>
				</td>
				<!-- plain data -->
				<td *ngIf="!(d[col] | isObject) && !(d[col] | isObjectArray)"class="tree-td">
					{{ d[col] }}
				</td>
			</tr>
		</table>
	</div>
	<!-- Tree Type End -->
</p-panel>
<!-- Query Result End-->
