/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
#query-option td{
	border: none;	
}

#sendQuery {
	float: right;
	font-family: Arial;
	background-color: #eee;
	padding: 5px 10px;
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#query-message{
	color: orange;	
	width: 100%;
	min-height: 100px;
	overflow: auto;
}

.status{
	color: red;	
}

#browse-container{
	width: 100%; height: 700px; overflow-x:auto;
}

th {
	height: 30px;
	background: rgb(222,222,222);
	color: black;
}

#browse-container table, th, td {
	border :1px solid black;	
	padding: 2px 5px;
	cursor: pointer;
}

td{
	padding: 5px 10px;
}

th:hover{
	background: orange;	
}

td:hover{
	background: yellow;	
}

.row:nth-child(odd) {background: rgb(245,245,245)}

#browse-container table {
	border-collapse : collapse;
}

.pagination {
	display: inline-block;
}

.pagination div {
	color: black;
	float: left;
	padding: 4px 6px;
	text-decoration: none;
}

.page {
	cursor: pointer;
}

.pagination div:hover:not(.active) {
	background-color: #ddd;
	border-radious: 5px;
}

.pagination.page:active {
	background-color: #4CAF50;
	color: white;
	border-radious: 5px;
}

.page-label{
	float:left;
	color: black;	
	padding: 2px 3px;
	margin: 0 3px;
	cursor: pointer;
}
